.section {
    background: rgb(44, 42, 66);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    img {
        max-width: min(400px, 100%);
    }

    h3 {
        margin: 10px 0;
    }

    p {
        margin-right: 20px;

        @media screen and (max-width: 800px) {
            margin: 0 100px 30px;
        }
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;
        text-align: center;
    }
}