.container {
    margin: 100px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    
    @media screen and (max-width: 800px) {
        margin: 50px;
        text-align: center;

        h3 {
            margin-bottom: 10px;
        }
    }
    
    > div {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 800px) {
            flex-direction: column;
        }
    }

    h2 {
        margin: 20px 0 50px;
    }

    h3 {
        margin: 20px 0 5px;
    }

    .left {
        @media screen and (min-width: 801px) {
            flex-direction: row;
        }
    }
    
    .right {
        @media screen and (min-width: 801px) {
            flex-direction: row-reverse;
        }
    }

    img {
        max-width: min(400px, 100%);
    }
}